#jumbo{
    background-color: #b9def0;
}
.centro{
    text-align: center;
    position: relative;
    
}
.negrito{
    font-weight: bold;
    font-size: 17px;
}
#corpo{
    background-color: #b9def0;
}